{% extends "base.html.twig" %}

{% from '/common/macros/breadcrums.html.twig' import breadcrumbs %}
{% from '/common/macros/heading.html.twig' import heading %}
{% from '/calendar/macros/month_block.html.twig' import monthBlock %}

{% set selectedMenuItem = 'calendar' %}

{% block content %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        {{ breadcrumbs([
            { name: 'Kalendář' }
        ]) }}
        <!-- End Navbar -->
        <div class="container-fluid py-2">
            <div class="row">
                <!-- heading -->
                {{ heading(
                    'Kalendář',
                    'Nadcházející události',
                    {
                        name: 'Přidat událost',
                        path: path('calendar_event_create'),
                    }
                ) }}
                <!-- end heading -->

                {{ monthBlock('Události tento měsíc', thisMonthEvents) }}
                {{ monthBlock('Události příští měsíc', nextMonthEvents) }}
            </div>
        </div>
    </main>
{% endblock %}