{% extends "base.html.twig" %}

{% from '/common/macros/breadcrums.html.twig' import breadcrumbs %}
{% from '/common/macros/heading.html.twig' import heading %}

{% set selectedMenuItem = 'tasks' %}

{% block content %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        {{ breadcrumbs([
            { name: 'Úkoly', url: path('task_list') },
            { name: 'Nový úkol' }
        ]) }}
        <!-- End Navbar -->
        <div class="container-fluid py-2">
            <div class="row">
                <!-- heading -->
                {{ heading(
                    'Přidání nové udáosti',
                    ''
                ) }}
                <!-- end heading -->
                <div class="ms-3">
                    <div class="col-xl-4 mb-xl-0 mb-4">
                        <div class="card">
                            <form action="{{ path('calendar_event_create') }}" method="post">
                                <div class="p-3">
                                    <label for="name" class="p-3">Název události</label>
                                    <input type="text" name="name">
                                </div>
                                <hr class="dark horizontal my-0">
                                <div class="p-3">
                                    <label for="date" class="p-3">Datum</label>
                                    <input type="date" name="date">
                                </div>
                                <div class="p-3 d-flex flex-row-reverse">
                                    <button class="btn btn-dark-blue" type="submit">Vytvořit událost</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}