{% extends "base.html.twig" %}

{% from '/common/macros/breadcrums.html.twig' import breadcrumbs %}
{% from '/common/macros/heading.html.twig' import heading %}
{% from '/bank_account/macros/month_block.html.twig' import monthBlock %}

{% set selectedMenuItem = 'bank_account_transactions' %}

{% block content %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        {{ breadcrumbs([
            { name: 'Rozpočet' }
        ]) }}
        <!-- End Navbar -->
        <div class="container-fluid py-2">
            <div class="row">
                <!-- heading -->
                {{ heading(
                    'Rozpočet',
                    'Nadcházející příjmy a výdaje',
                    {
                        name: 'Přidat zázmam',
                        path: path('bank_account_transactions_create'),
                    },
                    offset,
                ) }}
                <!-- end heading -->
                {% for transactionData in transactions %}
                    {% set name = transactionData.month ~ ' / ' ~ transactionData.year %}
                    {{ monthBlock(
                        name,
                        transactionData.transactions,
                        transactionData.incomeSum,
                        transactionData.expenseSum,
                        transactionData.totalSum,
                    ) }}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}