{% extends "base.html.twig" %}

{% from '/common/macros/breadcrums.html.twig' import breadcrumbs %}
{% from '/common/macros/heading.html.twig' import heading %}
{% from '/note/macros/topic_block.html.twig' import topicBlock %}

{% set selectedMenuItem = 'notes' %}

{% block content %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        {{ breadcrumbs([
            { name: 'Poznámmky' }
        ]) }}
        <!-- End Navbar -->
        <div class="container-fluid py-2">
            <div class="row">
                <!-- heading -->
                {{ heading(
                    'Témata poznámek',
                    'Poznámky',
                    {
                        name: 'Přidat nové téma',
                        path: path('topic_create'),
                    },
                    null,
                    projects,
                    project.id ?? null
                ) }}
                <!-- end heading -->
                {% for topic in topics %}
                    {{ topicBlock(topic) }}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}