{% macro noteBlock(text, createdAt, updatedAt) %}
    <div class="col-xl-3 mb-xl-0 my-3">
        <div class="card">
            <div class="card-header p-2 ps-3">
                <div class="d-flex justify-content-between p-3">
                    <h3 class="text-2xl mb-0">{{ text|format('D-m-Y') }}</h3>
                </div>
            </div>
            <hr class="dark horizontal my-0">
        </div>
    </div>
{% endmacro %}