{% macro breadcrumbs(items) %}
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-3 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    {% for item in items %}
                        {% if loop.last %}
                            <li class="breadcrumb-item text-sm text-dark active">
                                {{ item.name }}
                            </li>
                        {% else %}
                            <li class="breadcrumb-item text-md">
                                <a class="opacity-5 text-dark" href="{{ item.url }}">
                                    {{ item.name }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </nav>
        </div>
    </nav>
{% endmacro %}