{% extends "base.html.twig" %}

{% from '/common/macros/breadcrums.html.twig' import breadcrumbs %}
{% from '/common/macros/heading.html.twig' import heading %}
{% from '/daily_note/macros/note_block.html.twig' import noteBlock %}
{% from '/daily_note/macros/day_block.html.twig' import dayBlock %}

{% set selectedMenuItem = 'daily_notes' %}

{% block content %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        {{ breadcrumbs([
            { name: 'Denní poznámky' }
        ]) }}
        <!-- End Navbar -->
        <div class="container-fluid py-2">
            <div class="row">
                <!-- heading -->
                {{ heading(
                    'Denní poznámky',
                    'Pro každodenní zápisky',
                    {
                        name: 'Přidat denní poznámku',
                        path: path('daily_note_create'),
                    },
                    offset
                ) }}
                <!-- end heading -->
                {% for note_data in daily_notes %}
                    {{ dayBlock(note_data.date, note_data.daily_notes) }}<br>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}